<div class="container">
  <app-navbar></app-navbar>
  <div class="title bg-white text-end mb-5">
    <h5 id="titulo">Entrenadores</h5>
  </div>
  <div class="row mt-4 mb-5 justify-content-center">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center" style="margin-top: -85px">
            <img [src]="user" width="120" alt="" />
          </div>
          <form action="" [formGroup]="usersForm">
            <div class="row align-items-*">
              <div class="col-sm">
                <span>Nombre</span>
                <input
                  type="text"
                  formControlName="name"
                  name=""
                  id=""
                  class="form-control"
                />
              </div>
              <div class="col-sm">
                <span>Apellidos</span>
                <input
                  type="text"
                  formControlName="lastName"
                  name=""
                  id=""
                  class="form-control"
                />
              </div>
            </div>
            <div class="row align-items-*">
              <div class="col-sm">
                <span>Edad</span>
                <input
                  formControlName="age"
                  type="number"
                  name=""
                  id=""
                  class="form-control"
                  value="0"
                />
              </div>
              <div class="col-sm">
                <span>Rol</span>
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  value="Entrenador"
                  disabled
                />
              </div>
            </div>
            <div class="row align-items-*">
              <div class="col-sm-12">
                <span>Correo</span>
                <input
                  type="email"
                  formControlName="email"
                  name=""
                  id=""
                  class="form-control"
                />
              </div>
            </div>
            <div class="row text-center mt-3">
              <div class="col-sm">
                <button class="btn" (click)="createUser()">Registrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
