<div>
  <app-navbar></app-navbar>
  <div class="container bg-white text-center pt-1">
    <h3>
      ¿QUE DESEAS ENTRENAR?
    </h3>
  </div>
  <div class="container">
    <div class="row justify-content-around mt-3">
      <div class="col-sm-4">
        <div class="card mb-5">
          <img [src]="cuerpo">
            <select  class="select">
              <option value="" selected>Cuerpo</option>
              <option value="">Pierna</option>
              <option value="">Brazo</option>
              <option value="">Espalda</option>
            </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img [src]="tipo">
          <select class="select">
            <option value="" selected>tipo</option>
            <option value="">Volumen</option>
            <option value="">Definicion</option>
            <option value="">Cardio</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-4 text-center">
      <div>
        <button class="btn">Empezar</button>
      </div>
    </div>
  </div>
</div>
