<div class="container">
  <app-navbar></app-navbar>
  <div class="title bg-white text-end">
    <h5 id="titulo">Tu rutina</h5>
  </div>
  <div class="row mt-4">
    <div class="col-sm">
      <div class="bg-white col-1 text-center" id="logo" width="">
        <img [src]="ejercicios" width="50" alt="" class="mt-1">
      </div>
      <div class="col-sm">
        <span class="text-white">Tus Ejercicios</span>
      </div>
      <div class="col-sm mt-4">
        <table class="table text-center text-light">
          <thead>
            <tr>
              <th scope="col">Ejercicios</th>
              <th scope="col">Series</th>
              <th scope="col">Repeticiones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ejercicio">
              <td>{{item.name}}</td>
              <td>{{item.serie}}</td>
              <td>{{item.repeticiones}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4 text-center">
    <div class="col-sm">
      <button class="btn" (click)="goToRutina()">Empezar</button>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>
