@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container{
  align-items: center;
  font-family: 'Bebas Neue';;
}
label, input{
  font-size: 17px;
}
input{
  height: 35px;
}

span{
  font-size: 20px;
}
a{
  font-size: 18px;
}

.card{
  margin: auto;
}

.card-body {
  background-color: #EAEAEA;
}

.btn{
  font-size: 15px;
  height: 40px;
  background-color: #00ABB3;
  color: #EAEAEA;
  width: 200px;
}
