<app-navbar></app-navbar>
<div class="title text-end">
    <h5 *ngFor="let item1 of tipoEjercicio" id="titulo">{{item1.tipo}}</h5>
</div>
<br>
<div class="container col-sm">
    <ul style="list-style: none;">
      <li *ngFor="let item of ejercicio | paginate: { itemsPerPage: 1, currentPage: pageActual }">
        <div class="title-ejercicio">
          <h1>{{item.name}}</h1>
        </div>
        <div class="description-ejercicio">
          <p>{{item.descripcion}}</p>
        </div>
        <div class="image-ejercicio">
          <img src="{{item.images}}" class="img-fluid" id="imagen" alt="...">
        </div>
      </li>
    </ul>
    <pagination-controls (responsive)="responsiveP" previousLabel="Anterior"  (pageChange)="pageActual = $event" nextLabel="Siguiente" (click)="RutinaTerminada()"></pagination-controls>
    <br>
    <div class="text-center" *ngIf="element == true">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Rutina Terminada
      </button>

    <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">¿Terminaste tu Rutina?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No aun no</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="goTofelicidades()">Si he terminado</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<app-footer></app-footer>